# ryEx001

## Understanding NumPy Array

In [2]:
# Creating an array
import numpy as np
a= np.array([2,4,6,8,10])
#print(a)
a

array([ 2,  4,  6,  8, 10])

In [3]:
# Creating an array using arange()
import numpy as np
a= np.arange(1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
import numpy as np

p= np.zeros((3,3))   # Create an array of all zeros
print(p) 

q= np.ones((2,2))    # Create an array of all ones
print(q)

r= np.full((2,2), 4)  # Create a constant array
print(r) 

s= np.eye(4)         # Create a 2x2 identity matrix
print(s) 

t= np.random.random((3,3))  # Create an array filled with random values
print(t)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[1. 1.]
 [1. 1.]]
[[4 4]
 [4 4]]
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
[[0.86750416 0.40801592 0.03357982]
 [0.573278   0.09395407 0.48749555]
 [0.18934615 0.43381772 0.60655214]]

In [11]:
# Creating an array using arange()
import numpy as np
a= np.arange(1,11)
print(type(a))
print(a.dtype)
a

<class 'numpy.ndarray'>
int32

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [14]:
# check shape pf Array
print(a.shape)
a

(2, 2)

array([[5, 6],
       [7, 8]])

In [13]:
a = np.array([[5,6],[7,8]])
print(a.shape)
a

(2, 2)

array([[5, 6],
       [7, 8]])

In [19]:
print(a[0,0])
print(a[0,1])
print(a[1,0])
print(a[1,1])

5
6
7
8

In [20]:
a[0,:]

array([5, 6])

In [21]:
a[:,0] # 這個需要解釋一下。

array([5, 7])

In [22]:
a[:,:]

array([[5, 6],
       [7, 8]])

In [24]:
b=a
b

array([[5, 6],
       [7, 8]])

In [27]:
b[0,0]=1000
a[0,0]

1000

In [28]:
c= a[:,:]
c

array([[1000,    6],
       [   7,    8]])

In [30]:
c[0,0]= -1000
c

array([[-1000,     6],
       [    7,     8]])

In [31]:
a

array([[-1000,     6],
       [    7,     8]])

In [32]:
b

array([[-1000,     6],
       [    7,     8]])

In [33]:
d= a.copy()
d

array([[-1000,     6],
       [    7,     8]])

In [34]:
d[0,0]= 2000
d

array([[2000,    6],
       [   7,    8]])

In [37]:
a,b,c,d

(array([[-1000,     6],
        [    7,     8]]),
 array([[-1000,     6],
        [    7,     8]]),
 array([[-1000,     6],
        [    7,     8]]),
 array([[2000,    6],
        [   7,    8]]))

## NumPy Array Numerical Data Types

In [11]:
print(np.float64(21))

21.0

In [12]:
print(np.int8(21.0))

21

In [13]:
print(np.bool(21))

True

<ipython-input-13-cbcfae419270>:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(np.bool(21))

In [14]:
print(np.bool(0))

False

<ipython-input-14-6ee6535b2377>:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(np.bool(0))

In [15]:
print(np.bool(21.0))

True

<ipython-input-15-788d2405c205>:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(np.bool(21.0))

In [16]:
print(np.float(True))

1.0

<ipython-input-16-b4d174c2a0cd>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(np.float(True))

In [17]:
print(np.float(False))

<ipython-input-17-3b1c297313e7>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(np.float(False))

0.0

In [18]:
arr=np.arange(1,11, dtype= np.float32)

print(arr)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [21]:
np.int(42.0 + 1.j)

<ipython-input-21-61a3a50e24b1>:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  np.int(42.0 + 1.j)

TypeError: can't convert complex to int

In [22]:
c= complex(42, 1)
print(c)

(42+1j)

In [23]:
print(c.real,c.imag)

42.0 1.0

In [24]:
# Creating an array
import numpy as np
a = np.array([2,4,6,8,10])

print(a.dtype)

int32

In [25]:
print(a.dtype.itemsize)

4

In [26]:
# Create numpy array using arange() function
var1=np.arange(1,11, dtype='f')

print(var1)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [27]:
print(np.arange(1,6, dtype='D'))

[1.+0.j 2.+0.j 3.+0.j 4.+0.j 5.+0.j]

In [28]:
print(np.dtype(float))

float64

In [29]:
print(np.dtype('f'))

float32

In [30]:
print(np.dtype('d'))

float64

In [31]:
print(np.dtype('f8'))

float64

In [32]:
var2=np.array([1,2,3],dtype='float64')

print(var2.dtype.char)

d

In [33]:
print(var2.dtype.type)

<class 'numpy.float64'>

## Manipulating Shape of NumPy Array

In [34]:
# Create an array
arr = np.arange(12)

In [35]:
# Reshape the array dimension
new_arr=arr.reshape(4,3)

print(new_arr)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [36]:
# Reshape the array dimension
new_arr2=arr.reshape(3,4)

print(new_arr2)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [37]:
# Create an array
arr=np.arange(1,10).reshape(3,3)
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [38]:
# flatten the array
print(arr.flatten())

[1 2 3 4 5 6 7 8 9]

In [39]:
# ravel() function 
print(arr.ravel())

[1 2 3 4 5 6 7 8 9]

In [40]:
# Transpose the matrix
print(arr.transpose())

[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [41]:
# resize the matrix
arr.resize(1,9)
print(arr)

[[1 2 3 4 5 6 7 8 9]]

## Stacking of Numpy arrays

In [42]:
arr1 = np.arange(1,10).reshape(3,3)
print(arr1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [43]:
arr2 = 2*arr1
print(arr2)

[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [44]:
arr3=np.hstack((arr1, arr2))

print(arr3)

[[ 1  2  3  2  4  6]
 [ 4  5  6  8 10 12]
 [ 7  8  9 14 16 18]]

In [45]:
# Horizontal stacking using concatenate() function
arr4=np.concatenate((arr1, arr2), axis=1)
print(arr4)

[[ 1  2  3  2  4  6]
 [ 4  5  6  8 10 12]
 [ 7  8  9 14 16 18]]

In [46]:
arr5=np.vstack((arr1, arr2))
print(arr5)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [47]:
arr6=np.concatenate((arr1, arr2), axis=0) 
print(arr6)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [48]:
arr7=np.dstack((arr1, arr2))
print(arr7)

[[[ 1  2]
  [ 2  4]
  [ 3  6]]

 [[ 4  8]
  [ 5 10]
  [ 6 12]]

 [[ 7 14]
  [ 8 16]
  [ 9 18]]]

In [49]:
# Create 1-D array
arr1 = np.arange(4,7) 
print(arr1)

[4 5 6]

In [50]:
# Create 1-D array
arr2 = 2 * arr1
print(arr2)

[ 8 10 12]

In [51]:
# Create column stack
arr_col_stack = np.column_stack((arr1,arr2))
print(arr_col_stack)

[[ 4  8]
 [ 5 10]
 [ 6 12]]

In [52]:
# Create row stack
arr_row_stack = np.row_stack((arr1,arr2)) 
print(arr_row_stack)

[[ 4  5  6]
 [ 8 10 12]]

## Partitioning Numpy Array

In [53]:
# Create an array
arr=np.arange(1,10).reshape(3,3)
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [54]:
# Peroform horizontal splitting
arr_hor_split=np.hsplit(arr, 3)

print(arr_hor_split)

[array([[1],
       [4],
       [7]]), array([[2],
       [5],
       [8]]), array([[3],
       [6],
       [9]])]

In [55]:
# vertical split
arr_ver_split=np.vsplit(arr, 3)

print(arr_ver_split)

[array([[1, 2, 3]]), array([[4, 5, 6]]), array([[7, 8, 9]])]

In [56]:
# split with axis=0
arr_split=np.split(arr,3,axis=0)

print(arr_split)

[array([[1, 2, 3]]), array([[4, 5, 6]]), array([[7, 8, 9]])]

In [57]:
# split with axis=1
np.split(arr,3,axis=1)

[array([[1],
        [4],
        [7]]),
 array([[2],
        [5],
        [8]]),
 array([[3],
        [6],
        [9]])]

## Changing Datatype of NumPy Arrays

In [58]:
# Create an array
arr=np.arange(1,10).reshape(3,3)
print("Integer Array:",arr)

# Change datatype of array
arr=arr.astype(float)

# print array
print("Float Array:", arr)

# Check new data type of array
print("Changed Datatype:", arr.dtype)

Integer Array: [[1 2 3]
 [4 5 6]
 [7 8 9]]
Float Array: [[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]
Changed Datatype: float64

In [59]:
# Change datatype of array
arr=arr.astype(float)

# Check new data type of array
print(arr.dtype)

float64

In [60]:
# Create an array
arr=np.arange(1,10)

# Convert NumPy array to Python List
list1=arr.tolist()
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Creating NumPy views and copies

In [61]:
# Create NumPy Array
arr = np.arange(1,5).reshape(2,2)
print(arr)

# Create no copy only assignment
arr_no_copy=arr

# Create Deep Copy
arr_copy=arr.copy()

# Create shallow copy using View
arr_view=arr.view()

print("Original Array: ",id(arr))
print("Assignment: ",id(arr_no_copy))
print("Deep Copy: ",id(arr_copy))
print("Shallow Copy(View): ",id(arr_view))

[[1 2]
 [3 4]]
Original Array:  1548659010704
Assignment:  1548659010704
Deep Copy:  1548659008976
Shallow Copy(View):  1548659008304

In [62]:
# Update the values of original array
arr[1]=[99,89]

# Check values of array view
print("View Array:\n", arr_view)

# Check values of array copy
print("Copied Array:\n", arr_copy)

View Array:
 [[ 1  2]
 [99 89]]
Copied Array:
 [[1 2]
 [3 4]]

## Slicing NumPy Array

In [63]:
# Create NumPy Array
arr = np.arange(10) 
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [64]:
print(arr[3:6])

[3 4 5]

In [65]:
print(arr[3:])

[3 4 5 6 7 8 9]

In [66]:
print(arr[-3:])

[7 8 9]

In [67]:
print(arr[2:7:2])

[2 4 6]

## Boolean and Fancy Indexing

In [68]:
# Create NumPy Array
arr = np.arange(21,41,2)
print("Orignial Array:\n",arr)

# Boolean Indexing
print("After Boolean Condition:",arr[arr>30])

Orignial Array:
 [21 23 25 27 29 31 33 35 37 39]
After Boolean Condition: [31 33 35 37 39]

In [69]:
# Create NumPy Array
arr = np.arange(1,21).reshape(5,4)
print("Orignial Array:\n",arr)

# Selecting 2nd and 3rd row
indices = [1,2]
print("Selected 1st and 2nd Row:\n", arr[indices])

# Selecting 3nd and 4th row
indices = [2,3]
print("Selected 3rd and 4th Row:\n", arr[indices])

Orignial Array:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]]
Selected 1st and 2nd Row:
 [[ 5  6  7  8]
 [ 9 10 11 12]]
Selected 3rd and 4th Row:
 [[ 9 10 11 12]
 [13 14 15 16]]

In [70]:
# Create row and column indices
row = np.array([1, 2])
col = np.array([2, 3])

print("Selected Sub-Array:", arr[row, col])

Selected Sub-Array: [ 7 12]

## Broadcasting arrays

In [71]:
# Create NumPy Array
arr1 = np.arange(1,5).reshape(2,2) 
print(arr1)

[[1 2]
 [3 4]]

In [72]:
# Create another NumPy Array
arr2 = np.arange(5,9).reshape(2,2) 
print(arr2)

[[5 6]
 [7 8]]

In [73]:
# Add two matrices
print(arr1+arr2)

[[ 6  8]
 [10 12]]

In [74]:
# Multiply two matrices
print(arr1*arr2)

[[ 5 12]
 [21 32]]

In [75]:
# Add a scaler value
print(arr1 + 3)

[[4 5]
 [6 7]]

In [76]:
# Multiply with a scalar value
print(arr1 * 3)

[[ 3  6]
 [ 9 12]]

## Create DataFrame

In [77]:
# Import pandas library 
import pandas as pd 
# Create empty DataFrame
df = pd.DataFrame() 

# Header of dataframe. 
df.head()

Empty DataFrame
Columns: []
Index: []

In [78]:
df

Empty DataFrame
Columns: []
Index: []

In [79]:
# Create dictionary of list
data = {'Name': ['Vijay', 'Sundar', 'Satyam', 'Indira'], 'Age': [23, 45, 46, 52 ]}   

# Create the pandas DataFrame 
df = pd.DataFrame(data)

# Header of dataframe. 
df.head()

     Name  Age
0   Vijay   23
1  Sundar   45
2  Satyam   46
3  Indira   52

In [80]:
# Pandas DataFrame by lists of dicts. 
# Initialise data to lists. 
data =[ {'Name': 'Vijay',  'Age': 23},{'Name': 'Sundar',  'Age': 25},{'Name': 'Shankar',  'Age': 26}]
# Creates DataFrame. 
df = pd.DataFrame(data,columns=['Name','Age']) 
# Print dataframe header 
df.head()

      Name  Age
0    Vijay   23
1   Sundar   25
2  Shankar   26

In [81]:
# Creating DataFrame using list of tuples.
data = [('Vijay', 23),( 'Sundar', 45), ('Satyam', 46), ('Indira',52)] 
# Create dataframe
df = pd.DataFrame(data, columns=['Name','Age'])
# Print dataframe header 
df.head()

     Name  Age
0   Vijay   23
1  Sundar   45
2  Satyam   46
3  Indira   52

## Pandas Series

In [82]:
# Creating Pandas Series using Dictionary
dict1 = {0 : 'Ajay', 1 : 'Jay', 2 : 'Vijay'}
# Create Pandas Series
series = pd.Series(dict1)
# Show series
series

0     Ajay
1      Jay
2    Vijay
dtype: object

In [83]:
# load Pandas and NumPy
import pandas as pd
import numpy as np
# Create NumPy array
arr = np.array([51,65,48,59, 68])
# Create Pandas Series
series = pd.Series(arr)
series

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [84]:
# load Pandas and NumPy
import pandas as pd
import numpy as np
# Create Pandas Series
series = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
series

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [85]:
# Import pandas 
import pandas as pd

# Load data using read_csv() 
df = pd.read_csv("WHO_first9cols.csv")

# Show initial 5 records
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0

In [86]:
# Show last 5 records
df.tail()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [87]:
# Show the shape of DataFrame
print("Shape:", df.shape)

Shape: (202, 9)

In [88]:
# Check the column list of DataFrame
print("List of Columns:", df.columns)

List of Columns: Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [89]:
# Show the datatypes of columns
print("Data types:", df.dtypes)

Data types: Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [90]:
# Select a series
country_series=df['Country']

In [91]:
# check datatype of series
type(country_series)

pandas.core.series.Series

In [92]:
print(country_series.index)

RangeIndex(start=0, stop=202, step=1)

In [93]:
# Convert Pandas Series into List
print(country_series.values)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [94]:
# Country name
print(country_series.name)

Country

In [95]:
# Pandas Series Slicing
country_series[-5:]

197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, dtype: object

In [96]:
# Creating Pandas Series using Dictionary
dict1 = {0 : 'Ajay', 1 : 'Jay', 2 : 'Vijay'}
# Create Pandas Series
series = pd.Series(dict1)
# Show series
series

0     Ajay
1      Jay
2    Vijay
dtype: object

In [97]:
# load Pandas and NumPy
import pandas as pd
import numpy as np
# Create NumPy array
arr = np.array([51,65,48,59, 68])
# Create Pandas Series
series = pd.Series(arr)
series

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [98]:
# load Pandas and NumPy
import pandas as pd
import numpy as np
# Create Pandas Series
series = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
series

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

## Querying Data

In [99]:
!pip install quandl

Collecting quandl
  Using cached Quandl-3.6.1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: requests>=2.7.0 in m:\programdata\anaconda3\lib\site-packages (from quandl) (2.25.1)
Requirement already satisfied: six in m:\programdata\anaconda3\lib\site-packages (from quandl) (1.15.0)
Requirement already satisfied: python-dateutil in m:\programdata\anaconda3\lib\site-packages (from quandl) (2.8.1)
Collecting inflection>=0.3.1
  Using cached inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: more-itertools in m:\programdata\anaconda3\lib\site-packages (from quandl) (8.7.0)
Requirement already satisfied: numpy>=1.8 in m:\programdata\anaconda3\lib\site-packages (from quandl) (1.20.1)
Requirement already satisfied: pandas>=0.14 in m:\programdata\anaconda3\lib\site-packages (from quandl) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in m:\programdata\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2021.1)
Requirement already satisfied: certifi>=2017.4.17 in m:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in m:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in m:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in m:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.26.4)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

In [100]:
import quandl

sunspots = quandl.get("SIDC/SUNSPOTS_A")

sunspots.head()

LimitExceededError: (Status 429) (Quandl Error QELx01) You have exceeded the anonymous user limit of 50 calls per day. To make more calls today, please register for a free Quandl account and then include your API key with your requests.

In [ ]:
sunspots.head()

In [ ]:
sunspots.tail()

In [ ]:
sunspots.columns

In [ ]:
# Select columns
sunspots_filtered=sunspots[['Yearly Mean Total Sunspot Number','Definitive/Provisional Indicator']]

# Show top 5 records
sunspots_filtered.head()

In [ ]:
# Select rows using index
sunspots["20020101": "20131231"]

In [ ]:
# Boolean Filter 
sunspots[sunspots['Yearly Mean Total Sunspot Number'] > sunspots['Yearly Mean Total Sunspot Number'].mean()]

## Statistics

In [101]:
# Import pandas 
import pandas as pd

# Load data using read_csv() 
df = pd.read_csv("WHO_first9cols.csv")

# Show initial 5 records
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0

In [102]:
df.shape

(202, 9)

In [103]:
# Describe the dataset
df.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.890000e+02
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409964e+04
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.318377e+05
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.328000e+03
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.640000e+03
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.097100e+04
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06

In [104]:
# Count number of observation
df.count()

Country                                                   202
CountryID                                                 202
Continent                                                 202
Adolescent fertility rate (%)                             177
Adult literacy rate (%)                                   131
Gross national income per capita (PPP international $)    178
Net primary school enrolment ratio female (%)             179
Net primary school enrolment ratio male (%)               179
Population (in thousands) total                           189
dtype: int64

In [105]:
# Compute median of all the columns
df.median()

CountryID                                                  101.5
Continent                                                    3.0
Adolescent fertility rate (%)                               46.0
Adult literacy rate (%)                                     86.5
Gross national income per capita (PPP international $)    6175.0
Net primary school enrolment ratio female (%)               90.0
Net primary school enrolment ratio male (%)                 90.0
Population (in thousands) total                           6640.0
dtype: float64

In [106]:
# Compute minimum of all the columns
df.min()

Country                                                   Afghanistan
CountryID                                                           1
Continent                                                           1
Adolescent fertility rate (%)                                     0.0
Adult literacy rate (%)                                          23.6
Gross national income per capita (PPP international $)          260.0
Net primary school enrolment ratio female (%)                     6.0
Net primary school enrolment ratio male (%)                      11.0
Population (in thousands) total                                   2.0
dtype: object

In [107]:
# Compute maximum of all the columns
df.max()

Country                                                    Zimbabwe
CountryID                                                       202
Continent                                                         7
Adolescent fertility rate (%)                                 199.0
Adult literacy rate (%)                                        99.8
Gross national income per capita (PPP international $)      60870.0
Net primary school enrolment ratio female (%)                 100.0
Net primary school enrolment ratio male (%)                   100.0
Population (in thousands) total                           1328474.0
dtype: object

In [108]:
# Compute standard deviation of all the columns
df.std()

CountryID                                                     58.456537
Continent                                                      1.808263
Adolescent fertility rate (%)                                 49.105286
Adult literacy rate (%)                                       20.415760
Gross national income per capita (PPP international $)     12586.753417
Net primary school enrolment ratio female (%)                 17.788047
Net primary school enrolment ratio male (%)                   15.451212
Population (in thousands) total                           131837.708677
dtype: float64

## Grouping Pandas DataFrames

In [109]:
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0

In [110]:
# Group By Dataframe on the basis of Continent column
df.groupby('Continent').mean()

,CountryID,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
Continent,,,,,,,
1,110.238095,37.300000,76.900000,14893.529412,85.789474,88.315789,16843.350000
2,100.333333,20.500000,97.911538,19777.083333,92.911111,93.088889,17259.627451
3,99.354167,111.644444,61.690476,3050.434783,67.574468,72.021277,16503.195652
4,56.285714,49.600000,91.600000,24524.000000,95.000000,94.400000,73577.333333
5,94.774194,77.888889,87.940909,7397.142857,89.137931,88.517241,15637.241379
6,121.228571,39.260870,87.607143,12167.200000,89.040000,89.960000,25517.142857
7,80.777778,57.333333,69.812500,2865.555556,85.444444,88.888889,317683.666667

In [111]:
df.groupby('Continent').mean()['Adult literacy rate (%)']

Continent
1    76.900000
2    97.911538
3    61.690476
4    91.600000
5    87.940909
6    87.607143
7    69.812500
Name: Adult literacy rate (%), dtype: float64

## Joins

In [112]:
# Import pandas 
import pandas as pd

# Load data using read_csv() 
dest = pd.read_csv("dest.csv")

# Show DataFrame
dest.head()

   EmpNr       Dest
0      5  The Hague
1      3  Amsterdam
2      9  Rotterdam

In [113]:
# Load data using read_csv() 
tips = pd.read_csv("tips.csv")

# Show DataFrame
tips.head()

   EmpNr  Amount
0      5    10.0
1      9     5.0
2      7     2.5

In [114]:
# Join DataFrames using Inner Join
df_inner= pd.merge(dest, tips, on='EmpNr', how='inner')
df_inner.head()

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [115]:
# Join DataFrames using Outer Join
df_outer= pd.merge(dest, tips, on='EmpNr', how='outer')
df_outer.head()

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

In [116]:
# Join DataFrames using Right Outer Join
df_right= pd.merge(dest, tips, on='EmpNr', how='right')
df_right

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0
2      7        NaN     2.5

In [117]:
# Join DataFrames using Left Outer Join
df_left= pd.merge(dest, tips, on='EmpNr', how='left')
df_left

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0

## Missing Values

In [118]:
# Import pandas 
import pandas as pd

# Load data using read_csv() 
df = pd.read_csv("WHO_first9cols.csv")

# Show initial 5 records
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0

In [119]:
# Count missing values in DataFrame
pd.isnull(df).sum()

Country                                                    0
CountryID                                                  0
Continent                                                  0
Adolescent fertility rate (%)                             25
Adult literacy rate (%)                                   71
Gross national income per capita (PPP international $)    24
Net primary school enrolment ratio female (%)             23
Net primary school enrolment ratio male (%)               23
Population (in thousands) total                           13
dtype: int64

In [120]:
# Count missing values in DataFrame
df.isnull().sum()

Country                                                    0
CountryID                                                  0
Continent                                                  0
Adolescent fertility rate (%)                             25
Adult literacy rate (%)                                   71
Gross national income per capita (PPP international $)    24
Net primary school enrolment ratio female (%)             23
Net primary school enrolment ratio male (%)               23
Population (in thousands) total                           13
dtype: int64

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 9 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Country                                                 202 non-null    object
 1   CountryID                                               202 non-null    int64
 2   Continent                                               202 non-null    int64
 3   Adolescent fertility rate (%)                           177 non-null    float64
 4   Adult literacy rate (%)                                 131 non-null    float64
 5   Gross national income per capita (PPP international $)  178 non-null    float64
 6   Net primary school enrolment ratio female (%)           179 non-null    float64
 7   Net primary school enrolment ratio male (%)             179 non-null    float64
 8   Population (in thousands) total                         189 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 14.3+ KB

In [122]:
# Drop all the missing values
df.dropna(inplace=True)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 1 to 200
Data columns (total 9 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Country                                                 118 non-null    object
 1   CountryID                                               118 non-null    int64
 2   Continent                                               118 non-null    int64
 3   Adolescent fertility rate (%)                           118 non-null    float64
 4   Adult literacy rate (%)                                 118 non-null    float64
 5   Gross national income per capita (PPP international $)  118 non-null    float64
 6   Net primary school enrolment ratio female (%)           118 non-null    float64
 7   Net primary school enrolment ratio male (%)             118 non-null    float64
 8   Population (in thousands) total                         118 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 9.2+ KB

In [124]:
# Load data using read_csv() 
df = pd.read_csv("WHO_first9cols.csv")

# Show initial 5 records
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 9 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Country                                                 202 non-null    object
 1   CountryID                                               202 non-null    int64
 2   Continent                                               202 non-null    int64
 3   Adolescent fertility rate (%)                           177 non-null    float64
 4   Adult literacy rate (%)                                 131 non-null    float64
 5   Gross national income per capita (PPP international $)  178 non-null    float64
 6   Net primary school enrolment ratio female (%)           179 non-null    float64
 7   Net primary school enrolment ratio male (%)             179 non-null    float64
 8   Population (in thousands) total                         189 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 14.3+ KB

In [126]:
# Fill missing values with 0
df.fillna(0,inplace=True)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 9 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Country                                                 202 non-null    object
 1   CountryID                                               202 non-null    int64
 2   Continent                                               202 non-null    int64
 3   Adolescent fertility rate (%)                           202 non-null    float64
 4   Adult literacy rate (%)                                 202 non-null    float64
 5   Gross national income per capita (PPP international $)  202 non-null    float64
 6   Net primary school enrolment ratio female (%)           202 non-null    float64
 7   Net primary school enrolment ratio male (%)             202 non-null    float64
 8   Population (in thousands) total                         202 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 14.3+ KB

## Pivot Table

In [128]:
# Import pandas 
import pandas as pd

# Load data using read_csv() 
purchase = pd.read_csv("purchase.csv")

# Show initial 10 records
purchase.head(10)

  Weather       Food     Price  Number
0    cold       soup  3.745401       8
1     hot       soup  9.507143       8
2    cold   icecream  7.319939       8
3     hot  chocolate  5.986585       8
4    cold   icecream  1.560186       8
5     hot   icecream  1.559945       8
6    cold       soup  0.580836       8

In [129]:
# Summarise dataframe using pivot table
pd.pivot_table(purchase,values='Number', index=['Weather',],
                    columns=['Food'], aggfunc=np.sum)

Food     chocolate  icecream  soup
Weather
cold           NaN      16.0  16.0
hot            8.0       8.0   8.0

## Dealing with dates

In [130]:
# Date range function
pd.date_range('01-01-2000', periods=45, freq='D')

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14'],
              dtype='datetime64[ns]', freq='D')

In [131]:
# Convert argument to datetime
pd.to_datetime('1/1/1970')

Timestamp('1970-01-01 00:00:00')

In [132]:
# Convert argument to datetime in specified format
pd.to_datetime(['20200101', '20200102'], format='%Y%m%d')

DatetimeIndex(['2020-01-01', '2020-01-02'], dtype='datetime64[ns]', freq=None)

In [133]:
# Value Error
pd.to_datetime(['20200101', 'not a date'])

ParserError: Unknown string format: not a date

In [ ]:
# Handle value error
pd.to_datetime(['20200101', 'not a date'], errors='coerce')